<div class="share">
    <% if (theme.share.baidu) { %>
    <div class="bdsharebuttonbox">
        <a href="#" class="fa fa-twitter bds_twi" data-cmd="twi" title="分享到推特"></a>
        <a href="#" class="fa fa-weibo bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="fa fa-qq bds_sqq" data-cmd="sqq" title="分享给 QQ 好友"></a>
        <a href="#" class="fa fa-files-o bds_copy" data-cmd="copy" title="复制网址"></a>
        <a href="#" class="fa fa fa-envelope-o bds_mail" data-cmd="mail" title="通过邮件分享"></a>
        <a href="#" class="fa fa-weixin bds_weixin" data-cmd="weixin" title="生成文章二维码"></a>
        <a href="#" class="fa fa-share-alt bds_more" data-cmd="more"></i></a>
    </div>
    <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "<%- post.title %>　| <%- config.title %>　",
                "bdMini": "2",
                "bdMiniList": false,
                "bdPic": "",
                "bdStyle": "0",
                "bdSize": "24"
            }, "share": {}
        };
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src ='//bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
    <% } %>

    <% if (theme.share.addthis) { %>
    <div class="addthis_sharing_toolbox"></div>
    <% } %>
</div>
