<div class="overlay"></div>
<div class="intrude-less">
    <header id="header" class="inner">
        <a href="<%= config.root %>" class="profilepic">
            <img src="<%- theme.root_url %><%=theme.avatar%>" class="animated zoomIn">
        </a>
        <hgroup>
          <h1 class="header-author"><a href="<%= config.root %>"><%=theme.author%></a></h1>
        </hgroup>

        <% if (theme.subtitle){ %>
        <p class="header-subtitle"><%=theme.subtitle%></p>
        <%}%>

        <% if (theme.search.on){ %>
            <form id="search-form">
            <input type="text" id="local-search-input" name="q" placeholder="search..." class="search form-control" autocomplete="off" autocorrect="off" searchonload="<%= theme.search.onload %>" />
            <i class="fa fa-times" onclick="resetSearch()"></i>
            </form>
            <div id="local-search-result"></div>
            <p class='no-result'>No results found <i class='fa fa-spinner fa-pulse'></i></p>
        <%}%>


        <%if(theme.tagcloud){%>
            <div id="switch-btn" class="switch-btn">
                <div class="icon">
                    <div class="icon-ctn">
                        <div class="icon-wrap icon-house" data-idx="0">
                            <div class="birdhouse"></div>
                            <div class="birdhouse_holes"></div>
                        </div>
                        <div class="icon-wrap icon-ribbon hide" data-idx="1">
                            <div class="ribbon"></div>
                        </div>
                        <%if(theme.friends && theme.friends.length != 0){%>
                        <div class="icon-wrap icon-link hide" data-idx="2">
                            <div class="loopback_l"></div>
                            <div class="loopback_r"></div>
                        </div>
                        <%}%>
                        <%if(theme.aboutme){%>
                        <div class="icon-wrap icon-me hide" data-idx="3">
                            <div class="user"></div>
                            <div class="shoulder"></div>
                        </div>
                        <%}%>
                    </div>

                </div>
                <div class="tips-box hide">
                    <div class="tips-arrow"></div>
                    <ul class="tips-inner">
                        <li><%= __('index.menu') %></li>
                        <li><%= __('index.tags') %></li>
                        <%if(theme.friends && theme.friends.length != 0){%>
                        <li><%= __('index.friends') %></li>
                        <%}%>
                        <%if(theme.aboutme){%>
                        <li><%= __('index.about') %></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        <%}%>

        <div id="switch-area" class="switch-area">
            <div class="switch-wrap">
                <section class="switch-part switch-part1">
                    <nav class="header-menu">
                        <ul>
                        <% for (var i in theme.menu){ %>
                            <li><a href="<%- theme.root_url %><%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <%}%>
                        </ul>
                    </nav>
                    <nav class="header-nav">
                        <ul class="social">
                            <% for (var i in theme.subnav){ %>
                                <a class="fa <%= i %>" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>"></a>
                            <%}%>
                        </ul>
                    </nav>
                </section>

                <%if(theme.tagcloud){%>
                <section class="switch-part switch-part2">
                    <div class="widget tagcloud" id="js-tagcloud">
                        <%- list_tags({show_count: false}) %>
                    </div>
                </section>
                <%}%>

                <%if(theme.friends && theme.friends.length != 0){%>
                <section class="switch-part switch-part3">
                    <div id="js-friends">
                    <% for (var i in theme.friends){ %>
                      <a class="main-nav-link switch-friends-link" href="<%- url_for(theme.friends[i]) %>"><%= i %></a>
                    <% } %>
                    </div>
                </section>
                <%}%>

                <%if(theme.aboutme){%>
                <%if(!theme.friends){%>
                <section class="switch-part switch-part3">
                <%}else{%>
                <section class="switch-part switch-part4">
                <%}%>
                    <div id="js-aboutme"><%=theme.aboutme%></div>
                </section>
                <%}%>
            </div>
        </div>
    </header>
</div>
