<hr>
<br>
<%- list_categories({depth: 1}) %>
<div class="tags">
  <% if (site.tags.length) { %>
  <script type="text/javascript" charset="utf-8" src="/js/tagcloud.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/tagcanvas.js"></script>
  <div class="widget-wrap">
      <div id="myCanvasContainer" class="widget tagcloud">
          <canvas width="450" height="450" id="resCanvas" style="width=100%">
              <%- tagcloud() %>
          </canvas>
      </div>
  </div>
  <% } %>

    <%- tagcloud({
        min_font: 16,
        max_font: 35,
        amount: 999,
        color: true,
        start_color: 'rgb(125,165,189)',
        end_color: '#6cf',
    }) %>
<p class="count"></p>
</div>
<style>
    .category-list li{
        display: inline-block;
        margin: 0 1em .5em 0;
        padding: 4px;
        border: 1px solid lightgray;
        font-size: 1.2rem;
    }
    .category-list a { color: gray; }
    .category-list-item:hover a {
        color: #6cf;
        text-decoration: none;
    }
    .category-list-count {
        margin-left: 2px;
        font-size: .9rem;
    }
    .article-entry ul li:before{ display: none; }
    .article-inner { text-align: center; }
    .tags {
        max-width: 42em;
        margin: 2em auto;
        margin-top: 0em;
    }
    .tags a {
        margin-right: 1em;
        line-height: 65px;
        border-bottom: 1px solid gray;
        white-space: nowrap;
        transition: border-bottom .5s;
    }
    .tags a:hover {
        border-bottom: 3px dotted gray;
        text-decoration: none;
    }
    #count > span {
        margin: auto .2em;
        font-weight: bold;
    }
</style>

<!-- Count tags and categories -->
<p id="count">
        <%= __('tag_cloud.already') %><span><script>document.write($(".category-list-item").length)</script></span><%= __('tag_cloud.categories') %>
        <%= __('tag_cloud.total') %><span><script>document.write($(".tags > a").length)</script></span><%= __('tag_cloud.tags') %>
</p>
<script>
    $('#count').appendTo('.count');
</script>
