<% if (is_home() && theme.show_count) { %>
    <% if (theme.duoshuo.on) { %>
        <script>
            if ($(".left-col").is(":visible")) {
                var duoshuoQuery = {short_name:"<%=theme.duoshuo.domain%>"};
                (function() {
                    var d = document, s = d.createElement('script');
                    s.src = '//static.duoshuo.com/embed.js';
                    s.async = true; s.charset = 'UTF-8';
                    (d.head || d.body).appendChild(s);
                })();

                $(document).ready(function(){
                    var $duoshuoCount = $(".ds-thread-count");
                    $duoshuoCount.bind("DOMNodeInserted", function(e) {
                        var num = $(this).text().replace(/[^0-9]/ig,"");
                        $(this).siblings(".count-comment").text(num);
                        $(this).remove();
                    })
                })
            }
        </script>
    <% } %>

    <% if (theme.disqus.on || config.disqus_shortname) { %>
        <script id="dsq-count-scr" src="//<%= config.disqus_shortname || theme.disqus.shortname %>.disqus.com/count.js" async></script>
        <script>
            if ($(".left-col").is(":visible")) {
                var $disqusCount = $(".disqus-comment-count");
                $disqusCount.bind("DOMNodeInserted", function(e) {
                    var num = $(this).text().replace(/[^0-9]/ig,"");
                    if (num > 0) {
                        $(this).siblings(".count-comment").text(num);
                    }
                    $(this).remove();
                })
            } else {
                $(".disqus-comment-count").remove();
            }
        </script>
    <% } %>
<% } %>
