.body-wrap
    if hexo-config("limit_article_width.on")
        max-width hexo-config("limit_article_width.max_width")em
        margin auto

    margin-bottom 126px
    overflow hidden


.article {
  margin: 30px;
  margin-bottom: 5px;
  position: relative;
  background: article-color;
  -webkit-transition: all 0.2s ease-in;
  &.show{
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
  &.hidden{
    visibility: hidden;
  }
  img{
    max-width: 100%;
    margin: .5em auto;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.01);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.article-index{
  margin-left: 200px;
  padding: 15px 0;
  margin-right: 75px;
  .brief{
    display: block;
    color: #a8a8a8;
    font-size: 12px;
    line-height: 14px;
    height: 7px;
    padding-left: 2px;
    &:before{
      display: inline-block;
      content: "“";
      font-family: serif;
      font-size: 30px;
      float: left;
      margin: 4px 4px 0 -12px;
      color: #c8c8c8;
    }
  }
}

.article-title {
  color: #696969;
  margin-left: 0px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  &:hover{
    color: #B0A0AA;
  }
}
.article-inner{
  position: relative;
  margin-bottom: 0px;
  padding-bottom: .5em;
  word-break: break-word;
  box-shadow: 3px 2px 8px rgba(0,0,0, .07);
}
.article-header{
  border-left: 6px solid #eee;
  padding: 15px 8.2em 15px 25px;
  &:hover {
    border-left: 5px solid #9c9;
  };
}
.article-info {
  li:hover {
    background: none;
  }
}
.article-info-index.article-info{
  padding-top: 20px;
  margin: 30px 30px 0 30px;
  border-top: 1px solid #ddd;
}
.article-info-post.article-info{
  padding: 0
  border: none;
  margin: -30px 0 20px 30px;
}
.article-entry{
  @require "customise/blockquote"
  line-height: 1.65em;
  padding:0 2em;
  font-size 1rem
  a:hover {
    text-decoration: underline;
    color: #9c9;
  }
  p{
    margin: .85em auto;
    line-height: 1.7;
  }
  em {
    font-style: italic;
  }
  video{
    max-width: 100%;
  }
  strong {
    font-weight: bold;
  }
  li strong {
    color: #708090;
  }
  .caption{
    display: block;
    font-size: 0.8em;
    color: #aaa;
  }
  hr{
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #FFF;
  }
  .table-area {
    overflow: auto;
  }
  table{
    width:100%;
    max-width: 65em;
    border: 1px solid #dedede;
    margin: 15px auto;
    border-collapse:collapse;
    empty-cells:show;
    tr,td{
      height:35px;
    }
    th {
      font-weight: bold;
      text-align: center;
      background: rgba(158, 188, 226, .2);
      white-space: nowrap;
    }
    tbody{
      tr:hover{
        background: #efefef;
      }
    }
    td,th{
      border: 1px solid #dedede;
      padding: 0 10px;
    }
    tr:nth-child(2n) {
      background: rgba(158, 188, 226, .12);
    }
    td:nth-child(1){
      white-space: nowrap;
    }
  }
  @import "customise/list"
  @import "customise/heading"
  figure{
    table {
      border: none;
      width: auto;
      margin: 0;
      tbody{
        tr:hover{
          background: none;
        }
      }
    }
  }
}

.article-meta
    position absolute
    right 0
    top 23px
    width 9rem
    padding-right 1.2rem
    font-size 0.875rem
    text-align right
    z-index 1
    time
        color #aaa
        float right
        &:before
            margin-top 0px
            margin-right 4px
            content "\f073"
            font 1em FontAwesome
            color #999
    a:nth-child(2)
        &:hover
            color #258fb8
            font-size 110%
        i
            vertical-align top
        clear right
        float right
        padding-top .45rem
        color #999

.article-more-link {
    float: right;
    margin-top: 5px;
    a {
        padding: 2px 4px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #88acdb;
        color: #fff;
        font-size: .9rem;
        line-height: 1em;
        white-space: nowrap;
        transition: background 0.3s;
        opacity: i-opacity;
        &:hover {
            background: hover-color;
            opacity: 1;
        }
        &.hidden {
            visibility: hidden;
        }
    }
    &:hover {
        transform: scale(1.06);
    }
}

#article-nav {
    display: table;
    width: 100%;
    height: 2.5em;
    margin: 1em auto;
    font-size 1rem
    background: rgba(158, 188, 226, i-opacity);
    &:hover {
        background: #93b5e0;
    }
}

.article-nav-title {
    display: table-cell;
    vertical-align: middle;
    a {
        color: white;
    }
    a:hover {
        font-style: italic;
    }
}

#article-nav-older {
    padding-right: 1em;
    text-align: right;
    &::after {
        padding-left:0.5em;
        content:"→";
        color: white;
        font-weight: bold;
        font-family: Calibri;
    }
}

#article-nav-newer {
    padding-left: 1em;
    text-align: left;
    &::before {
        padding-right:0.5em;
        content:"←";
        color: white;
        font-weight: bold;
        font-family: Calibri;
    }
}

#intro {
  display: inline;
  font-weight: normal;
  font-size: inherit;
  opacity: 0;
  color: white;
  &::before, &::after {
      content: none;
  }
}

li:hover {
    background: rgba(158, 188, 226, .21);
}
.article-entry > ol:last-child {
    > li:nth-child(2n) {
        background: rgba(158, 188, 226, .12);
    };
    li {
        word-break: break-all;
    };
    li:hover {
        background: #F0F0F0;
    };
}

@import "toc"

.copyright {
    width: 85%;
    max-width: 45em;
    margin: 1.2em auto 0;
    padding: .5em 1.8em;
    border: 1px solid lightgray;
    font-size: .93rem;
    line-height: 1.6em;
    word-break: break-all;
    background: rgba(255, 255, 255, .4);
    span {
        display: inline-block;
        width: 5.8em;
        color: #B5B5B5;
        font-weight: bold;
    }
    a {
        color: gray;
        &:hover {
            color: #a3d2a3;
            text-decoration: underline;
        }
    }
    &:hover .fa-clipboard {
        color: black;
    }
    .copy-path {
        margin-left: 1em;
        width 1em
        &:hover {
            color: gray;
            cursor: pointer;
        }
    }
}

aside.comment-bar
    display block
    cursor pointer
    background rgba(white, .3)
    padding .5rem
    box-shadow 3px 2px 8px rgba(black, .07)
    text-align center
    font-size 2rem
    i.fa-spinner
        display none
    a
        display inline-block
        width 3em
        span
            font-size 1.5rem
    &:active
        background none

.relposts {
    width: 85%;
    max-width: 45em;
    margin: 1.2em auto 0;
    padding: .5em 1.8em;
    border: 0px solid lightgray;
    font-size: .93rem;
    line-height: 1.6em;
    word-break: break-all;
    background: rgba(255, 255, 255, .4);
    span {
        display: inline-block;
        width: 5.8em;
        color: #B5B5B5;
        font-weight: bold;
    }
    a {
        color: gray;
        &:hover {
            color: #a3d2a3;
            text-decoration: underline;
        }
    }
    &:hover .fa-clipboard {
        color: black;
    }
    .copy-path {
        margin-left: 1em;
        width 1em
        &:hover {
            color: gray;
            cursor: pointer;
        }
    }
}

.popular-posts
    padding: 2%
    li
        list-style-type: none;
        padding: 5px 5px;
        display: inline-block
        div
            display: block
        h3
            font-weight: lighter
            font-size : 14px;
